.card{
    width: 250px;
    margin: 1rem;
    box-shadow: -0.8px -1px 4px 0.8px rgb(65, 63, 63);
}
.card img{
    width: 100%;
    cursor: pointer;
}

.card img:hover{
  opacity: 0.7;
}

.card2{
    margin-top:1rem;
    align-self: center;
    display: flex;
    grid-gap:4px;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 50%;
    margin:auto;
}
.Detail{
    text-align: left;
    padding:6px;
}

@media only screen and (max-width:1094px){
    .card2{
        width: 100%;
    }   
}